.logo{
  justify-content: space-evenly;
}
.nav-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.link-names{
  justify-content: space-evenly;
}

.main{
  padding-left: 100px;
}
